/** @format */

.App {
  background-color: #dadbd3;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app_body {
  display: flex;
  background-color: #ededed;
  margin-top: 0px;
  height: 98vh;
  width: 98vw;
  box-shadow: -1px 4px 20px -6px rgba(56, 53, 53, 0.493);
}
